.main {
    display: flex;

    height: calc(100% - 66px);
}
.left-sidebar{
    height: 950px;
    width: 150px;
    background-color: black;
}
.left-sidebar ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    color: aliceblue;
}

.left-sidebar ul li a {
    padding: 18px;
    display: block;
    border-bottom: 1px solid gray;
}

.left-sidebar ul li a {
   color: blanchedalmond;
   text-align: center;
}
.left-sidebar ul li  :hover{
    background: gray;
}
.logo { 
    position: absolute;
    width: 310px;
    height: 122px;
    margin-left: 729px;
    margin-right: 729px;
    margin-top: 20px;
 }
 .main-content .group1 {
    position: absolute;
    width: 1510px;
    height: 210px;
    margin-left: 129px;
    margin-top: 172px;
    text-align: center;
    background: #EFEFEF;
 }